<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin | Hospital Management System</title>
    <link rel="stylesheet" href="../../static/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../../static/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../../static/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../../static/dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed user-select-none">
    <div class="wrapper">

        <!-- Top Navbar -->
        <nav class="main-header navbar navbar-expand-md navbar-white navbar-light">
            
            <!-- Left navbar links togglers (for responsive) -->
            <ul class="navbar-nav navbar-no-expand">

                <!-- Sidebar Toggler -->
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button">
                        <i class="fas fa-bars"></i>
                    </a>
                </li>

                <!-- Tobpar toggler -->
                <li class="nav-item">
                    <button class="nav-link navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbarCollapse">
                        <i class="fas fa-caret-down"></i>
                    </button>
                </li>
            </ul>
            
            <!-- Left navbar links -->
            <div class="collapse navbar-collapse order-3" id="navbarCollapse">
                <ul class="navbar-nav">

                    <!-- Hospital Core -->
                    <li class="nav-item dropdown">
                        <a 
                            href="#" 
                            data-toggle="dropdown" 
                            class="nav-link dropdown-toggle"
                        >Hospital Core</a>
                        
                        <ul class="dropdown-menu dropdown-menu-left">
                            <li><a href="./submodule.html" class="dropdown-item">Patient Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Treatment Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Pharmacy</a></li>
                            <li><a href="./submodule.html" class="dropdown-item active">Medical Record</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Doctors Management</a></li>
                            <li><a href="./submodule.html" class="dropdown-item">Visitors Management</a></li>
                        </ul>
                    </li>
                </ul>
            </div>  
            
            <!-- Right navbar links -->
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
            
                <!-- User Menu -->
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link" data-toggle="dropdown" role="button">
                        <i class="fas fa-user-circle"></i>
                        <!-- <span class="badge badge-warning navbar-badge">15</span> -->
                    </a>
            
                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-user"></i>
                            </div>
                            <span>Profile</span>
                        </a>
                        <a href="#" class="dropdown-item d-flex align-items-center">
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-cog"></i>
                            </div>
                            <span>Settings</span>
                        </a>
            
                        <div class="dropdown-divider"></div>
                        
                        <a
                            href="#"
                            role="button" 
                            class="dropdown-item d-flex align-items-center" 
                            data-toggle="modal" 
                            data-target="#logoutModal"
                        >
                            <div class="mr-3" style="width: 1.25rem">
                                <i class="fas fa-sign-out-alt"></i>
                            </div>
                            <span>Log out</span>
                        </a>
                    </div>
                </li>
            </ul>
        </nav>

        <!-- Main Sidebar Container -->
        <aside class="main-sidebar main-sidebar-custom sidebar-light-primary">

            <!-- Brand Logo -->
            <a href="../../index3.html" class="brand-link">
                <img src="../../static/dist/img/AdminLTELogo.png" alt="AdminLTE Logo"
                    class="brand-image img-circle border" style="opacity: .8">
                <span class="brand-text font-weight-light">HoMIES</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- Sidebar user -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">

                    <!-- User Image -->
                    <div class="image">
                        <img src="../../static/dist/img/user2-160x160.jpg" class="img-circle border" alt="User Image">
                    </div>

                    <!-- User Full Name -->
                    <div class="info mr-1 w-100" id="userFullNameDisplay">

                        <!-- User Full Name -->
                        <a href="#" class="nav-item text-truncate" id="userFullName"></a>

                        <!-- User Position -->
                        <div class="small text-secondary text-truncate" id="userPosition"></div>

                        <!-- User Department -->
                        <!-- <div class="small text-secondary text-truncate" id="userDepartment">Information Technology (IT) Department</div> -->
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">

                       <!-- Module Name -->
                       <li class="nav-header font-weight-bold text-wrap"> DOCTORS' MANAGEMENT SYSTEM</li>

                       <li class="nav-header">CORE</li>
                       <li class="nav-item">
                           <a href="#" class="nav-link">
                               <i class="nav-icon fas fa-chart-pie"></i>
                               <p>Dashboard</p>
                           </a>
                       </li>

                       <li class="nav-header">APPOINTMENT</li>
                       <li class="nav-item">
                           <a href="#" class="nav-link">
                               <i class="nav-icon fas fa-calendar-check"></i>
                               <p>Book Appointment</p>
                           </a>
                       </li>
                       <li class="nav-item">
                           <a href="#" class="nav-link">
                               <i class="nav-icon fas fa-user-md"></i>
                               <p>Find a Doctor</p>
                           </a>
                       </li>

                       <li class="nav-header">MEDICAL RECORD</li>
                       <li class="nav-item">
                           <a href="/patientRecord" class="nav-link active">
                               <i class="nav-icon fas fa-procedures"></i>
                               <p>Patient Record</p>
                           </a>
                       </li>
                    </ul>
                </nav>
            </div>

            <!-- Sidebar Custom -->
            <div class="sidebar-custom">
                <a href="#" class="btn btn-sm btn-light"><i class="fas fa-cogs"></i></a>
                <button class="btn btn-sm btn-danger hide-on-collapse pos-right" data-toggle="modal"
                    data-target="#logoutModal">
                    <span>Log out</span>
                    <i class="fas fa-sign-out-alt ml-1"></i>
                </button>
            </div>
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">

            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <h1>Medical Request</h1>
                    <p class="text-muted">Requesting Medical Records</p>
                </div>
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">

                    
                    <!-- Card -->
                    <div class="card card-primary card-outline">

                        <!-- Card Header -->
                        <div class="card-header">
                            <h3 class="card-title">Record Request Form</h3>
                        </div>
                        <!-- /.card-header -->

                        <!-- Card Body -->
                        <div class="card-body">
                             <!-- Purpose content -->
                             <div id="purpose-part" class="content" role="tabpanel" aria-labelledby="purpose-part-trigger">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Information to be released</label>
                                            <div class="form-group clearfix">
                                                <div class="icheck-success">
                                                    <input type="checkbox" id="1" name="request_info[]"  class="request_info" value="Medical History">
                                                    <label class="font-weight-normal" for="1">
                                                        Medical History
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="checkbox" id="2" name="request_info[]"  class="request_info" value="Medical Problem">
                                                    <label class="font-weight-normal" for="2">
                                                        Medical Problem
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="checkbox" id="3" name="request_info[]"  class="request_info" value="Diagnostic Result">
                                                    <label class="font-weight-normal" for="3">
                                                        Diagnostic Result
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="checkbox" id="4" name="request_info[]"  class="request_info" value="Laboratory Result">
                                                    <label class="font-weight-normal" for="4">
                                                        Laboratory Result
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="checkbox" id="5" name="request_info[]"  class="request_info" value="Progress Notes">
                                                    <label class="font-weight-normal" for="5">
                                                        Progress Notes
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Reason for Disclosure</label>
                                            <div class="form-group clearfix">
                                                <div class="icheck-success">
                                                    <input type="radio" id="6" name="reason" value="Changing Physician">
                                                    <label class="font-weight-normal" for="6">
                                                        Changing Physician
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="radio" id="7" name="reason" value="Legal">
                                                    <label class="font-weight-normal" for="7">
                                                        Legal
                                                    </label>
                                                </div>
                                                <div class="icheck-success">
                                                    <input type="radio" id="8" name="reason" value="Personal Access">
                                                    <label class="font-weight-normal" for="8">
                                                        For Personal Access
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                                
                                
                                <div class="modal-footer col-md-12">
                                    <a class="btn btn-secondary" type="button" onclick="history.back();">Cancel</a>
                                    <button class="btn btn-primary" type="button" onclick="history.back();">Request</button> 
                                </div>
                            </div>

                            
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
            </section>
            <!-- /.content -->
        </div>

        <!-- Main Footer -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block"><b>Version</b> 3.1.0</div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights
            reserved.
        </footer>
    </div>

    <!-- jQuery -->
    <script src="../../static/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../static/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../../static/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../static/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../static/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../static/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../static/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../static/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../static/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../static/plugins/jszip/jszip.min.js"></script>
    <script src="../../static/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../static/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../static/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../static/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../static/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../static/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../static/dist/js/demo.js"></script>
   <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- iCheck for checkboxes and radio inputs -->
    <link rel="stylesheet" href="../../static/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <script>
        $(function () {
            $("#table").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
    </script>
</body>

</html>
</body>

</html>