<form id="loginform" method="POST">
  <div class="row">
    <div class="col-6">
      <label>Email</label>
    </div>
    <div class="form-group input-group mb-3">
      <input type="email" name="email" class="form-control" placeholder="Type your email here" id="email">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="col-6">
      <label>Password</label>
    </div>
    <div class="col-6">
      <p class="mb-1">
        <a href="forgot-password.html">I forgot my password</a>
      </p>
    </div>
    <div class="form-group input-group mb-3">
      <input type="password" name="password" class="form-control" placeholder="Type your password here" id="password">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
  </div>
  <!-- User Actions -->
  <div class="row">
    <div class="col-8">
      <div class="icheck-primary">
        <input type="checkbox" id="remember">
        <label for="remember">Remember Me</label>
      </div>
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary btn-block" id="loginbtn">
        <span>Log in</span>
        <i class="fas fa-sign-in-alt ml-1"></i>
      </button>
    </div>
  </div>
</form>
<div class="dropdown-divider mt-5 mb-1"></div>

<!-- Quick Links -->
<div class="d-flex justify-content-between text-sm">
  <div>
    <a href="/">Home</a>
  </div>
  <div>
    <a href="#">About Us</a>
    <span class="text-secondary">&middot;</span>
    <a href="#">Terms and Policies</a>
  </div>
</div>
</div>